<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.totoro.blog.project.system.mapper.UserMapper">
  <resultMap id="UserResult" type="com.totoro.blog.project.system.domain.User">
    <!--@mbg.generated-->
    <!--@Table user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="gender" jdbcType="CHAR" property="gender" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
    <result column="login_date" jdbcType="TIMESTAMP" property="loginDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="delete_by" jdbcType="VARCHAR" property="deleteBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="delete_time" jdbcType="TIMESTAMP" property="deleteTime" />
      <collection property="roles" javaType="java.util.List" resultMap="RoleResult"/>
  </resultMap>
    <resultMap id="RoleResult" type="com.totoro.blog.project.system.domain.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="key" column="key"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
    </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, nick_name, `type`, email, phone, gender, avatar, `password`, `status`, 
    login_ip, login_date, remark, create_by, update_by, delete_by, create_time, update_time, 
    delete_time
  </sql>
  
  <sql id="selectUserVo">
    select u.id
            , u.name
            , u.nick_name
            , u.email
            , u.avatar
            , u.phone
            , u.password
            , u.gender
            , u.status
            , u.login_ip
            , u.login_date
            , u.create_by
            , u.create_time
            , u.remark
            , u.delete_by
            , u.delete_time
            , r.id
            , r.name
            , r.key
            , r.sort
            , r.status
        from user u
                left join user_role ur on u.id = ur.user_id
                left join role r on r.id = ur.role_id
  </sql>
  
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.totoro.blog.project.system.domain.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into user (`name`, nick_name, `type`, 
      email, phone, gender, 
      avatar, `password`, `status`, 
      login_ip, login_date, remark, 
      create_by, update_by, delete_by, 
      create_time, update_time, delete_time
      )
    values (#{name,jdbcType=VARCHAR}, #{nickName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{loginIp,jdbcType=VARCHAR}, #{loginDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{deleteBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectUserList" resultMap="UserResult" parameterType="com.totoro.blog.project.system.domain.User">
    <include refid="selectUserVo"/>
      where u.delete_time is null
    <if test="name != null and name != ''">
        and name like concat('%', #{name}, '%')
    </if>
  </select>
    <select id="selectUserByUserName" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where 1 = 1
            and u.delete_time is null
            and u.name = #{username}
    </select>
</mapper>